*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}
*:focus{
    outline: 2px dashed #7296EC;
}
html{
    height: 100%;
    scroll-behavior: smooth;
}
body{
    display: flex;
    flex-direction: column;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
}
img{
    /* min-width: 100%; */
    height: auto;
}
.container{
    width: 100%;
    max-width: 1240px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}
/* BUTTON */
.button{
    display: inline-block;
    padding: 13px 20px;
    border-radius: 10px;
    font-size: 16px;
    line-height: normal;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
}
.button-primary{
    background-color: #7296EC;
    color: #fff;
}
.button-primary:hover{
    opacity: 0.8;
}
.button-primary:active{
    opacity: 0.6;
}

/* HEADER */
.header-top {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #f6f6f6;
}
.header-top-container {
    display: flex;
    align-items: center;
}
.site-header-logo{
    display: flex;
    padding: 8px 6px;
    margin-right: 35px;
    border-radius: 7px;
    background-color: #fff;
}
.site-header-logo:hover{
    opacity: 0.8;
}
.site-header-logo:active{
    opacity: 0.6;
}
.currancy-rates {
    display: flex;
    align-items: center;
    margin-right: auto;
}
.currency-rates-item:not(:last-child) {
    margin-right: 25px;
}
.currency-rates-type {
    color: #2959CE;
}
/* GLOBAL SEARCH */
.global-search-form{
    margin-right: 25px;
}
.global-search-form-input{
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 40px;
    padding-right: 20px;
    border-radius: 60px;
    border: none;
    background-color: #fff;
    font-size: 14px;
    line-height: normal;
}
/* LANG-TOGGLE */
.lang-toggle {
    display: flex;
    padding: 3px;
    margin-right: 25px;
    border-radius: 39px;
    background-color: #DCE6FF;
}
.lang-toggle-link {
    width: 30px;
    height: 30px;
    font-size: 13px;
    line-height: 30px;
    text-align: center;
    color: #a6a6a6;
    border-radius: 50%;
}
.lang-toggle-link-active{
    background-color: #fff;
    color: #000;
}
/* SITENAV */
.sitenav {
    padding-bottom: 16px;
    padding-top: 26px;
    margin-bottom: 40px;
    border-bottom: 1px solid #d1d1d1;
    font-weight: 500;
}
.sitenav-list {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}
.sitenav-item{
    margin-top: 4px;
    margin-bottom: 4px;
}
.sitenav-item:not(:last-child) {
    margin-right: 34px;
}
.sitenav-link {
    display: block;
    color: #7F7F7F;
    text-align: center;
    font-size: 18px;
}
.sitenav-link:hover{
    color: #7296EC;
}
.sitenav-link:active{
    opacity: 0.6;
}
.site-header-banner-link{
    display: flex;
}

/* MAIN CONTENT */
.main-content{
    flex-grow: 1; /*sticky footer bo'lishiga yordam beradi*/
}